<div class="container-fluid">
    <div class="row-fluid">
        <div class="span15">
          





<div class="panel-body" style="padding:0px;">
    <h4>
        端口控制
    </h4>
    <table class="table" style="margin-bottom: 0px;" >
    		<tr>
				<td> 输出 </td> 
            	<td ng-repeat="item in ports.gout" >
            		<button class="port-{{item.value}}" ng-click="clickPort(item)" >{{item.port}}</button> 
            	</td>
                		</tr>
                		<tr>
            				<td> 输入 </td> 
            	<td ng-repeat="item in ports.gin" >
            		<button class="port-{{item.value}}" >{{item.port}}</button> 
            	</td>
    		</tr>
    
    		<tr>
				<td> 接地 </td> 
            	<td ng-repeat="item in ports.gnd" >
            		<button class="port-{{item.value}}"  >{{item.port}}</button> 
            	</td>
    		</tr> 
    </table>
</div> 


<div class="panel-body" style="padding:0px;">
    <h4>
        行为控制
    </h4>
    <table class="table" style="margin-bottom: 0px;" >
            <tr>
                <td> 摄像头</td>
                <td><button class="btn" ng-click="clickTurnCamera(0)">左转</button> </td>
                <td><button class="btn" ng-click="clickTurnCamera(2)">复位</button> </td>
                <td><button class="btn" ng-click="clickTurnCamera(1)">右转</button> </td>



            </tr>
            <tr>
                <td> 移动</td> 
                <td><button  class="btn" ng-click="clickMove('left')">左转</button> </td>
                <td><button class="btn" ng-click="clickMove('right')">右转</button> </td>
                <td><button class="btn" ng-click="clickMove('head')">前进</button> </td>
                <td><button class="btn" ng-click="clickMove('back')">后退</button> </td>
                <td><button class="btn" ng-click="clickMove('space')">空置</button> </td>
                <td><button class="btn" ng-click="clickMove('stop')">停止</button> </td>
                <td><button class="btn" ng-click="clickMove('faster')">加速</button> </td>
                <td><button class="btn" ng-click="clickMove('slower')">减速</button> </td>
            </tr>
            <tr>
                <td colspan="998">

  
<div style="100%;height:300px">
    <div style="height:32%;width:100%;text-align: center;">
        <button style="height:100%;width:12%;" class="btn" ng-click="clickMove('faster')">加速</button>
        <button style="height:100%;width:60%;" class="btn"   ng-mousedown="clickMove('head')" ng-mouseup="clickMove('space')">前进</button>

        <button style="height:100%;width:12%;" class="btn" ng-click="clickMove('slower')">减速</button>
    </div>

    <div style="height:32%;width:100%;text-align: center;margin:5px 0px;">
        <button style="height:100%;width:32%;" class="btn" ng-mousedown="clickMove('left')" ng-mouseup="clickMove('turnrevert')">左转</button>
        <button style="height:100%;width:14%;" class="btn" ng-click="clickMove('stop')">刹车</button>
        <button style="height:100%;width:14%;"class="btn" ng-click="clickMove('space')">空置</button>
        <button style="height:100%;width:32%;" class="btn" ng-mousedown="clickMove('right')" ng-mouseup="clickMove('turnrevert')">右转</button>                        
    </div>

    <div style="height:32%;width:100%;text-align: center;">
        <button style="height:100%;width:60%;" class="btn" ng-mousedown="clickMove('back')" ng-mouseup="clickMove('space')">后退</button>
    </div>
</div>

                </td>
            </tr>
    </table>
  
    


</div> 



<div class="panel-body" style="padding:0px;">
    <div style="float:left;width:50%;padding:20px 20px 0px 20px;">
        <h4>
            socket.io 写入                    
            <button class="btn" ng-click="clickWrite()">写入</button> 
        </h4>

        <div  style="width:100%;float:left;">
            <textarea style="width:100%;height: 100px;" ng-keydown="keydown($event);" ng-model="taWrite"></textarea>
        </div>
    </div>
    <div style="float:left;width:50%;padding:20px 20px 0px 20px;">
        <h4>
            socket.io 读取
            <button class="btn" ng-click="clickWrite()">读取</button> 
        </h4>

        <div  style="width:100%;float:left;">
            <textarea id="read" style="width:100%;height: 100px;" ng-model="taRead"></textarea>
        </div>
    </div>
</div>


<div class="panel-body" style="padding:0px;">
    <div style="float:left;width:50%;padding:20px 20px 0px 20px; position: relative;">

        监控视频
        <button class="btn" ng-click="clickListen()">开启监控</button> 

        <div  style="width:100%;float:left; background-color: #000000;height: 320px;text-align: center;">
            <!-- <video style="max-width:100%;max-height: 320px;" ng-src="{{video}}" controls="controls">
               您的浏览器不支持 video 标签。
            </video> --> 
            <myvideo   />

        </div>
    </div>
    <div style="float:left;width:50%;padding:20px 20px 0px 20px;position: relative; ">
        <h4>
            抓拍图片
        </h4>

        <div  style="width:100%;float:left; background-color: #000000;height: 320px;text-align: center;" ng-dblclick="dbclick($event);">
            <img style="max-width:100%;max-height: 100%;" ng-src="{{image}}"/>
        </div>
    </div>
</div>



</div></div></div>

