 

<div class="panel-heading">
    更新
</div>

<div class="panel-body">

            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-left"  >
        <fieldset>
        <label>id</label> <br> 
        <input id="id" name="id"  type="text" class="form-control"  readonly="readonly"  ng-model="httpget.ID" value=""/> <br>
        <label>name</label> <br>
        <input id="name" name="name"  class="form-control"  type="text"   ng-model="httpget.NAME" /> <br>
        <label>time</label> <br> 
<input type="text" ng-model="httpget.TIME" id="time" data-date-format="yyyy-mm-dd hh:ii" class="form-control" placeholder="">
         
         <br>
        </fieldset>
    
</form></div></div>
        
<div class="panel-footer">
    <button ng-click="ajaxSubmit()"  class="btn">提交</button>
    <button ng-click="goHome()" class="btn">关闭</button>
</div> 