<div class="panel-heading">  
    <div class="navbar-form navbar-left" >
            <input type="text" ng-model="search.ID" class="form-control" placeholder="search.ID">
            <input type="text" ng-model="search.NAME" class="form-control" placeholder="search.NAME">
            <input type="text" ng-model="search.TIMEFROM" id="timefrom" data-date-format="yyyy-mm-dd hh:ii" class="form-control" placeholder="search.TIMEFROM">
            <input type="text" ng-model="search.TIMETO" id="timeto" data-date-format="yyyy-mm-dd hh:ii" class="form-control" placeholder="search.TIMETO">

            <button class="btn" ng-click="list()" >查询</button> 
    </div>   
    <div class="clear"></div>           
    <a ng-click="goAdd()" class="btn" >添加</a>  
</div>  

<div class="panel-body">
    <table class="table table-hover"> 
        <thead>
                    <tr>  
                        <th> No. </th>
                        <th ng-click="changeOrder('ID')" ng-class="{dropup:order === ''}">
                            ID
                            <span ng-class="{orderColor:orderType === 'ID'}" class="caret"></span>
                        </th>
                        <th ng-click="changeOrder('NAME')" ng-class="{dropup:order === ''}">
                            NAME
                            <span ng-class="{orderColor:orderType === 'NAME'}" class="caret"></span>
                        </th>
                        <th ng-click="changeOrder('UPUSERID')" ng-class="{dropup:order === ''}">
                            UPUSERID
                            <span ng-class="{orderColor:orderType === 'UPUSERID'}" class="caret"></span>
                        </th>
                        <th ng-click="changeOrder('FILESIZE')" ng-class="{dropup:order === ''}">
                            FILESIZE
                            <span ng-class="{orderColor:orderType === 'FILESIZE'}" class="caret"></span>
                        </th>
                            <th ng-click="changeOrder('TYPE')" ng-class="{dropup:order === ''}">
                            TYPE
                            <span ng-class="{orderColor:orderType === 'TYPE'}" class="caret"></span>
                        </th>
                        <th ng-click="changeOrder('UPTIME')" ng-class="{dropup:order === ''}">
                            UPTIME
                            <span ng-class="{orderColor:orderType === 'UPTIME'}" class="caret"></span>
                        </th>
                        <th ng-click="changeOrder('CHANGETIME')" ng-class="{dropup:order === ''}">
                            CHANGETIME
                            <span ng-class="{orderColor:orderType === 'CHANGETIME'}" class="caret"></span>
                        </th>
                            
                        <th ng-click="changeOrder('ABOUT')" ng-class="{dropup:order === ''}">
                            ABOUT
                            <span ng-class="{orderColor:orderType === 'ABOUT'}" class="caret"></span>
                        </th>

                        <th> DOWN </th> 
                        <th> UPDATE </th>
                        <th> DELETE </th>
                    </tr> 
        </thead>

        <tbody> 
<tr ng-repeat="item in httplist | filter:search | orderBy:order + orderType"    >   
            <td class="info">{{$index + 1}}</td>   
            <td  >{{item.ID}}</td>  
            <td  ><a ng-click="download(item.ID)" class="abtn" > {{item.NAME }} </a></td>
            <td  >{{item.UPUSERID }}</td>
            <td  >{{item.FILESIZE }}</td>
            <td  >{{item.TYPE }}</td>
            <td  >{{item.UPTIME   | date:'medium' }}</td>
            <td  >{{item.CHANGETIME  | date:'medium' }}</td>
            <td  >{{item.ABOUT }}</td>  
            <td>
                <a ng-click="goUpdate(item.ID)" class="abtn" > {{item.COUNT}}</a>   
            </td>
            <td> 
                <a ng-click="goUpdate(item.ID)" class="abtn" > 修改</a>  
            </td>
            <td>
                <a ng-click="ajaxDelete(item.ID)" class="abtn" > 删除</a>  
            </td>
</tr>   
        </tbody>
 
 
    </table>  

       <ng-include  src="'common/template/list_table_foot.html'"></ng-include>

 
</div>