  
    <ul class="nav nav-tabs">
        <li class="active">
            <a ng-click="goHome()" href="#">最近添加人员</a>
        </li> 
        <li class="dropdown pull-right">
             <a class="abtn" ng-click="goMoreStudent()" >更多<strong class="caret"></strong></a> 
        </li> 
        </ul>
<table class="table table-hover">
                <tbody >
                
  <!-- | filter:search 查询功能 默认 filterQuery自定义过滤器 --> 
<tr  class="mytr"  ng-repeat="item in httplist" ng-click="goUpdate(item.ID)" >   
            <td class="mytd">{{$index + 1}}</td>   
            <td class="mytd">{{item.ID}}</td>  
            <td class="mytd">{{item.NAME }}</td>     
</tr>
                </tbody>
 

    </table>    